body {
	background: #fff;
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto' , sans-serif;
}
#reservations {
	text-align: center;
	margin: 0 auto;
}
h3 {
	text-align: center;
}
input, button {
	font-family: 'Roboto',  sans-serif;
}
.main-div, loggedIn-div {
	width: 20%;
	margin: 0px auto;
	margin-top: 150px;
	padding: 20px;
	display: none;
}
.main-div input {
	display: block;
	border: 1px solid #ccc;
	border-radius: 5px;
	background: #fff;
	padding: 20px;
	outline: none;
	width: 100%;
	margin-bottom: 20px;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
}
.main-div input:focus {
	border: 1px solid #777
}
.main-div button {
	background: #5d8ffc;
	color: #fff;
	border: 1px solid #5d8ffc;
	border-radius: 0px;
	padding: 15px;
	display: block;
	width:  100%;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
}
.main-div button:hover {
	background: #fff;
	color: #5d8ffc;
	border: 1px solid #5d8ffc;
	cursor: pointer;
}
td {
	text-align: center;
	margin: 0 auto;
	padding: 20px;
}